@model JobDetailModel
@{
    Model.Title = Model.Name;
    Model.TitleDescription = "Details about the scheduled job; " + Model.Name;
}

@if (Model.HasChangedModel)
{
    <div class="alert alert-warning" role="alert">This scheduled job is paused because one or more of the providers has changed their model.<br />This job will not be activated before you modify this job and verify all properties.</div>
}

<div class="card card-block">
    <div class="form-group row">
        <label class="col-sm-2 text-xs-right" asp-for="CronSchedule"></label>
        <div class="col-sm-10">
            <input class="cron read-only" hidden="hidden" asp-for="CronSchedule" />
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 text-xs-right" asp-for="BackupProvider"></label>
        <div class="col-sm-10">
            <p asp-for="BackupProvider" class="form-control-static"></p>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 text-xs-right" asp-for="StorageProvider"></label>
        <div class="col-sm-10">
            <p asp-for="StorageProvider" class="form-control-static"></p>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 text-xs-right" asp-for="TransformProviders"></label>
        <div class="col-sm-10">
            @foreach (string transformProvider in Model.TransformProviders)
            {
                <p class="form-control-static">@transformProvider</p>
            }
        </div>
    </div>
</div>

<a asp-action="Configure" asp-route-id="@Model.ID" class="btn btn-success">Modify</a>
