@model StatusCodeModel
@{
    Model.Title = "Internal Server Error";
}

<section class="section">
    <div class="error-card">
        <div class="error-title-block">
            <h1 class="error-title">500</h1>
            <h2 class="error-sub-title">Internal Server Error</h2>
        </div>

        <div class="error-container">
            <p>If this continues to happen, please report it as an issue on GitHub.</p>
            <a class="btn btn-primary" href="https://github.com/JustABackup/JustABackup/issues" target="_blank" rel="noreferrer">
                <span class="fa fa-angle-right"></span> GitHub Issues
            </a>
        </div>
    </div>
</section>