@model StatusCodeModel
@{ 
    Model.Title = "Error " + Model.StatusCode;
}

<section class="section">
    <div class="error-card">
        <div class="error-title-block">
            <h1 class="error-title">@Model.StatusCode</h1>
            <h2 class="error-sub-title">Oops, this was not planned.</h2>
        </div>
    </div>
</section>