@model ConfigureJobModel
@{
    Model.TitleDescription = "Base configuration for a scheduled job.";
}

<section class="section">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-block">
                    <section>
                        <form class="dynamic" asp-action="Configure">
                            <script type="application/json" class="configuration">
                                {
                                    "completeText": "Modify",
                                    "sectionProperties": [ "BackupProvider", "TransformProviders", "StorageProvider" ],
                                    "fields": [
                                        {
                                            "id": "ID",
                                            "type": "hidden"
                                        },
                                        {
                                            "id": "Name",
                                            "name": "Name",
                                            "type": "string",
                                            "validation": [ "required" ]
                                        },
                                        {
                                            "id": "BackupProvider",
                                            "name": "Backup Provider",
                                            "type": "dropdown",
                                            "validation": [ "required" ],
                                            "dataSource": "/api/provider?type=backup"
                                        },
                                        {
                                            "id": "StorageProvider",
                                            "name": "Storage Provider",
                                            "type": "dropdown",
                                            "validation": [ "required" ],
                                            "dataSource": "/api/provider?type=storage"
                                        },
                                        {
                                            "id": "TransformProviders",
                                            "name": "Transform Providers",
                                            "type": "multi-select",
                                            "dataSource": "/api/provider?type=transform"
                                        },
                                        {
                                            "id": "CronSchedule",
                                            "name": "Schedule",
                                            "type": "cron",
                                            "validation": [ "required" ]
                                        }
                                    ]
                                }
                            </script>
                        </form>
                    </section>
                </div>
            </div>
        </div>
    </div>
</section>