@model CreateProviderModel
@{
    Model.Title = "Create Authenticated Session";
    Model.TitleDescription = "Configure Provider - " + @Model.ProviderName;
}

<section class="section">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-block">
                    <section>
                        <form method="post">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            @Html.EditorFor(m => m.Properties)
                            <div class="form-group text-right">
                                <input type="submit" value="Authenticate" class="btn btn-primary" />
                            </div>
                        </form>
                    </section>
                </div>
            </div>
        </div>
    </div>
</section>