@model CreateAuthenticatedSessionModel
@{
    Model.Title = "Create Authenticated Session";
    Model.TitleDescription = "Create a new authenticated session.";
}

<section class="section">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-block">
                    <section>
                        <form class="dynamic" method="post">
                            <script type="application/json" class="configuration">
                                {
                                    "completeText": "Authenticate",
                                    "sectionProperties": [ "AuthenticationProvider" ],
                                    "fields": [
                                        {
                                            "id": "Name",
                                            "name": "Name",
                                            "type": "string",
                                            "value": "@Model.Name",
                                            "validation": [ "required" ]
                                        },
                                        {
                                            "id": "AuthenticationProvider",
                                            "name": "Authentication Provider",
                                            "type": "dropdown",
                                            "value": "@Model.AuthenticationProvider",
                                            "validation": [ "required" ],
                                            "dataSource": "/api/provider?type=authentication"
                                        }
                                    ]
                                }
                            </script>
                        </form>
                    </section>
                </div>
            </div>
        </div>
    </div>
</section>