@model CreateAuthenticatedSessionModel
@{
    Model.Title = "Create Authenticated Session";
    Model.TitleDescription = "Create a new authenticated session.";
}

<section class="section">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-block">
                    <section>
                        <form class="dynamic" method="post">
                            <script type="application/json" class="configuration">
                                {
                                    "completeText": "Authenticate",
                                    "sectionProperties": [ "AuthenticationProvider" ],
                                    "fields": [
                                        {
                                            "id": "Name",
                                            "name": "Name",
                                            "type": "string",
                                            "value": "@Model.Name",
                                            "validation": [ "required" ]
                                        },
                                        {
                                            "id": "AuthenticationProvider",
                                            "name": "Authentication Provider",
                                            "type": "dropdown",
                                            "value": "@Model.AuthenticationProvider",
                                            "validation": [ "required" ],
                                            "dataSource": "/api/provider?type=authentication"
                                        }
                                    ]
                                }
                            </script>

                            @*<div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="Name" class="control-label"></label>
                                <input asp-for="Name" class="form-control boxed" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="AuthenticationProvider" class="control-label"></label>
                                <select asp-for="AuthenticationProvider" asp-items="Model.AuthenticationProviders" class="form-control boxed"></select>
                            </div>
                            <div class="form-group text-right">
                                <input type="submit" value="Continue" class="btn btn-primary" />
                            </div>*@
                        </form>
                    </section>
                </div>
            </div>
        </div>
    </div>
</section>